@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pretendard-Regular", sans-serif;
    list-style-type: none;
}

html {
    font-size: 16px;
}

/* var */
:root {
    /* color */
    --coral: #ffc0c9;
    --light-purple: #a55eea;
    --dark-purple: #8854d0;
    --light-grey: #d1d8e0;
    --light-blue: #70a1ff;
    --black: #2f3542;
    --white: #fff;

    /* font-size */
    --large-font-size: 18px;
}

body {
    position: relative;
    height: 100vh;
    padding: 10px;
    min-width: 320px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid var(--light-purple);
    color: var(--light-purple);
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* main layout*/
main {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-template-rows: 1fr;
}

.vertical-menu {
    grid-row: 2/3;
    grid-column: 1/2;
}

.album-list {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* main */

main {
    height: calc(100% - 60px);
    margin-top: 10px;
}

/* vertical menu */
.vertical-menu {
    width: 150px;
    height: 100%;
    margin-right: 10px;
    border: 3px solid var(--black);
    padding: 10px;
}

.vertical-menu li {
    margin-bottom: 5px;
    cursor: pointer;
}

.add-btn {
    width: 100%;
    border: none;
    font-size: 16px;
    height: 1.5em;
    cursor: pointer;
    background-color: var(--coral);
    border-radius: 5px;
}

.add-btn:hover {
    background-color: var(--dark-purple);
    color: var(--white);
}

.vertical-menu span {
    word-break: break-all;
}

.vertical-menu span:hover {
    color: var(--dark-purple);
}

/* section */
section {
    height: 100%;
    border: 3px solid var(--light-blue);
    overflow-y: auto;
}

/* album list */
.album-list-item {
    width: 15rem;
    height: 15rem;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-list-item>img {
    width: 95%;
    height: auto;
    object-fit: contain;
}

.album-list-item>span {
    word-break: break-all;
    text-align: center;
    padding: 10px;
}

/* modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.modal {
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.input-container label,
input {
    margin-bottom: 5px;
    font-size: var(--large-font-size);
}

.input-container label {
    font-weight: bold;
}

.input-container input {
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    padding: 5px;

}

.input-container input:focus {
    border: 2px solid var(--coral);
    outline: none;
}

.submit-btn {
    margin-top: 20px;
    background-color: var(--light-blue);
    border-radius: 5px;
    border: none;
    font-size: var(--large-font-size);
    height: 1.5em;
    cursor: pointer;
    color: var(--white);
}

.submit-btn:hover {
    background-color: var(--coral);
    color: var(--black);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url("./assets/icon-close.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.15, 1.15);
}

/* media query */

@media screen and (min-width:768px) {
    .album-list-item {
        background-color: var(--coral);
    }
}

@media screen and (min-width:1024px) {
    .album-list-item {
        background-color: var(--light-blue);
    }
}